.receber-container {
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
    margin: 32px auto;
}

.receber-container header {
    display: flex;
    align-items: center
}

.receber-container header img {
    height: 105px;
}

.receber-container header a {
    width: 220px;
    margin-left: auto;
    margin-top: 0;
}

.receber-container header button:hover {
    border-color: #999;
}

.receber-container h1 {
    margin-top: 10px;
}

.botaoo {
    height: 58px;
    border-radius: 8px;
    color: #000000;
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 60px;
    transition: filter 0.2s;
    margin-left: 10px;
    text-decoration: none;
    border: 0;
    font-weight: 550;
}

.voltar {
    display: flex;
    align-items: center;
    color: #41414d;
    font-size: 12px;
    text-decoration: none;
    font-weight: 550;
    transition: opacity 0.2s;
}

.textao {
    text-align: center;
}

.table {
    background-color: rgb(239, 242, 248);
    height: 330px;
    position: relative;
    margin-left: 130px;
    border-color: rgb(5, 5, 3);
    border-radius: 15px;
    width: 700px;
}

table td {
    text-align: center;
    border: 1px solid black;
    font-size: 12pt;
}

.verificarestoque {
    text-decoration: none;
    font-weight: 550;
    color: #141414;
    transition: opacity 0.2s;
    margin-left: 130px;
    margin-top: 20px;
    font-size: 10pt;
}