.apaga {
    margin-top: 14px;
}

.ok {
    margin-bottom: 1px;
}

.esticar {
    padding-right: 10px;
    width: 1700px;
    margin-bottom: 30px;
}

.alargardia {
    padding-right: 10px;
    width: 1700px;
    margin-bottom: 30px;
}