.horario {
    margin-left: 5px;
}

.sexoo {
    margin-left: 30px;
    height: 58px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #dcdce6;
}

.agendamento-container {
    width: 100%;
    max-width: 300px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agendamento-container.content {
    width: 100%;
    padding: 30px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    /* joga a imagem pra esquerda e o form pra direita */
    align-items: center;
}

.agendamento .content section {
    width: 100%;
    max-width: 200px;
}

.agendamento-container .content section h1 {
    font-size: 30px;
    text-align: center;
}

.agendamento-container .content section form {
    width: 100%;
    max-width: 200px;
}

.agendamento-container .content form button {
    margin-top: 6px;
    inline-size: 370px;
}

.agendamento-container .content form input {
    margin-top: 6px;
    inline-size: 305px;
}

.agendamento-container .content form .input-group {
    border-radius: 8px;
    padding: 0 10px;
    background-color: white;
    border: 1px solid #dcdce6;
    display: flex;
}

.telefone {
    margin-left: 5px;
}