.estoque-container {
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
    margin: 32px auto;
}

.imagem {
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    width: 230px;
}

.aaa {
    align-items: center;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 550;
    margin-left: 100px;
    transition: opacity 0.2s;
}

.volta {
    align-items: center;
    color: #41414d;
    font-size: 12px;
    text-decoration: none;
    font-weight: 550;
    margin-left: 100px;
    transition: opacity 0.2s;
}

.estoque-container header {
    display: flex;
    align-items: center
}

.estoque-container header span {
    font-size: 18px;
    margin-left: 24px;
}

.estoque-container header img {
    height: 105px;
}

.estoque-container header a {
    width: 220px;
    margin-left: auto;
    margin-top: 0;
}

.estoque-container header button {
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 14px;
}

.estoque-container header button:hover {
    border-color: #999;
}

.estoque-container h1 {
    margin-top: 20px;
    margin-bottom: 11px;
}

.estoque-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* esse negocio de fr significa q são 2 colunas com 1 unidade flexível */
    grid-gap: 10px;
    /* distanciamento entre os cards */
    list-style: none;
}

.estoque-container ul li {
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    width: 315px;
    height: 170px;
}

.estoque-container ul li button {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 0;
}

.estoque-container ul li button:hover {
    opacity: 0.8;
    /* filter: brightness(90%); */
}

.estoque-container ul li strong {
    display: block;
    margin-bottom: 14px;
    color: #41414d;
}

.estoque-container ul li p+strong {
    margin-top: 28px;
}

.estoque-container ul li p {
    color: #737380;
    line-height: 20px;
    font-size: 15px;
}

.botao {
    height: 58px;
    border-radius: 8px;
    background: #c2bfbf;
    color: #000000;
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 60px;
    transition: filter 0.2s;
    margin-left: 10px;
    text-decoration: none;
    border: 0;
    font-weight: 550;
}

.voltar {
    display: flex;
    align-items: center;
    color: #41414d;
    font-size: 12px;
    text-decoration: none;
    font-weight: 550;
    transition: opacity 0.2s;
}

.textao {
    text-align: center;
}

.figurab {
    width: 52px;
    margin-left: 250px;
    margin-top: -18px;
}

.blocoa- {
    margin-left: 360px;
    margin-top: -187px;
}

.blocob {
    margin-left: 740px;
    margin-top: -204px;
}

.blocoab {
    margin-left: 360px;
    margin-top: -188px;
}

.blocoab- {
    margin-left: 740px;
    margin-top: -204px;
}

.blocoo,
.blocoa,
.blocob- {
    margin-left: -30px;
}

.blocoo- {
    margin-left: 360px;
    margin-top: -187px;
}

.listagem {
    text-decoration: none;
    color: #131212;
    font-weight: 430;
    font-size: 9pt;
    text-align: end;
}


/* display: grid; */


/* grid-template-columns: 1fr 1fr; */


/* esse negocio de fr significa q são 2 colunas com 1 unidade flexível */


/* grid-gap: 10px; */


/* distanciamento entre os cards */


/* list-style: none; */