.estoque-container img {
    height: 100px;
    margin-left: 155px;
    margin-top: 30px;
}

.back {
    align-items: center;
    color: #41414d;
    font-size: 12px;
    text-decoration: none;
    font-weight: 550;
    transition: opacity 0.2s;
    position: relative;
    margin-left: 180px;
    bottom: 45px;
}

.botao-estoque {
    background: #d45646;
    color: #fff;
    text-decoration: none;
    border-radius: 14px;
    width: 200px;
}