.estoque-container img {
    height: 100px;
    margin-left: 155px;
    margin-top: 30px;
}

.back-perfil {
    align-items: center;
    color: #41414d;
    font-size: 14px;
    text-decoration: none;
    font-weight: 550;
    transition: opacity 0.2s;
    position: relative;
    margin-left: 530px;
    margin-top: 10px;
}