.espera-container {
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
    margin: 32px auto;
}

.imagem {
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    width: 230px;
}

.aaa {
    align-items: center;
    color: #151516;
    font-size: 14px;
    text-decoration: none;
    font-weight: 580;
    transition: opacity 0.2s;
}

.volta {
    align-items: center;
    color: #151516;
    font-size: 12px;
    text-decoration: none;
    font-weight: 580;
    margin-left: 100px;
    transition: opacity 0.2s;
}

.espera-container header {
    display: flex;
    align-items: center
}

.espera-container header span {
    font-size: 18px;
    margin-left: 24px;
}

.espera-container header img {
    height: 105px;
}

.espera-container header a {
    margin-left: 200px;
    margin-top: 0;
}

.espera-container header button {
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 14px;
}

.espera-container header button:hover {
    border-color: #999;
}

.espera-container h1 {
    margin-top: 20px;
    margin-bottom: 11px;
}

.espera-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* esse negocio de fr significa q são 2 colunas com 1 unidade flexível */
    grid-gap: 10px;
    /* distanciamento entre os cards */
    list-style: none;
}

.espera-container ul li {
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    width: 315px;
    height: 170px;
}

.espera-container ul li button {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 0;
}

.espera-container ul li button:hover {
    opacity: 0.8;
    /* filter: brightness(90%); */
}

.espera-container ul li strong {
    display: block;
    margin-bottom: 14px;
    color: #41414d;
}

.espera-container ul li p+strong {
    margin-top: 28px;
}

.espera-container ul li p {
    color: #737380;
    line-height: 20px;
    font-size: 15px;
}

.botao {
    height: 58px;
    border-radius: 8px;
    background: #c2bfbf;
    color: #000000;
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 60px;
    transition: filter 0.2s;
    margin-left: 10px;
    text-decoration: none;
    border: 0;
    font-weight: 550;
}

.voltar {
    display: flex;
    align-items: center;
    color: #41414d;
    font-size: 12px;
    text-decoration: none;
    font-weight: 550;
    transition: opacity 0.2s;
}

.textao {
    text-align: center;
}

.editar {
    list-style: none;
    transition: filter 0.2s;
}

.apagaprecisa {
    width: 1px;
    margin-top: 180px;
}

.tabelaespera {
    background-color: rgb(239, 242, 248);
    position: relative;
    margin-left: 50px;
    border-color: rgb(5, 5, 3);
    width: 910px;
    height: 120px;
}

.tabelaespera td {
    height: 70px;
}

.verificarestoqueespera {
    position: relative;
    text-decoration: none;
    color: #242424;
    margin-left: 16px;
    font-weight: 550;
    bottom: 20px;
}

.agendar {
    text-decoration: none;
    color: #242424;
    position: relative;
    font-weight: 550;
    margin-left: 810px;
}