.hora {
    margin-left: 20px;
}

.hist {
    font-size: 10pt;
}

.logo {
    margin-left: 48px;
}

.condicao {
    height: 58px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #dcdce6;
    margin-left: 16px;
    width: 300px;
}