.verificarestoquehistorico {
    text-decoration: none;
    color: #242424;
    font-size: 11pt;
    font-weight: 550;
    margin-left: 20px;
    position: relative;
    top: -1px;
}

.agendardoacaohistorico {
    text-decoration: none;
    color: #242424;
    font-size: 11pt;
    font-weight: 550;
    margin-left: 800px;
    top: -1px;
    position: relative;
}