.verificarestoquehistorico {
    text-decoration: none;
    color: #242424;
    font-size: 11pt;
    font-weight: 550;
    margin-left: 50px;
}

.agendardoacaohistorico {
    text-decoration: none;
    color: #242424;
    font-size: 11pt;
    font-weight: 550;
    margin-left: 750px;
    top: 10px;
    position: relative;
}