.verificarestoquehistorico {
    text-decoration: none;
    color: #242424;
    font-size: 11pt;
    font-weight: 550;
    margin-left: 10px;
    position: relative;
    top: 15px;
}

.agendardoacaohistorico {
    text-decoration: none;
    color: #242424;
    font-size: 11pt;
    font-weight: 550;
    margin-left: 800px;
    top: -1px;
    position: relative;
}

.mais {
    margin-left: 400px;
}